@section Slider {
    <div id="templatemo_slider">

        <div id="latest_product_slider">

            <div id="SlideItMoo_outer">
                <div id="SlideItMoo_inner">
                    <div id="SlideItMoo_items">
                        <div class="SlideItMoo_element">
                            <a href="#">
                                <img src="~/images/templatemo_product_01.png" alt="product 1" />
                            </a>

                        </div>
                        <div class="SlideItMoo_element">
                            <a href="#">
                                <img src="~/images/templatemo_product_02.png" alt="product 2" />
                            </a>

                        </div>
                        <div class="SlideItMoo_element">
                            <a href="#">
                                <img src="~/images/templatemo_product_03.png" alt="product 3" />
                            </a>

                        </div>
                        <div class="SlideItMoo_element">
                            <a href="#">
                                <img src="~/images/templatemo_product_04.png" alt="product 4" />
                            </a>

                        </div>
                        <div class="SlideItMoo_element">
                            <a href="#">
                                <img src="~/images/templatemo_product_05.png" alt="product 5" />
                            </a>

                        </div>
                        <div class="SlideItMoo_element">
                            <a href="#">
                                <img src="~/images/templatemo_product_06.png" alt="product 6" />
                            </a>

                        </div>
                        <div class="SlideItMoo_element">
                            <a href="#">
                                <img src="~/images/templatemo_product_07.png" alt="product 7" />
                            </a>
                        </div>
                        <div class="SlideItMoo_element">
                            <a href="#">
                                <img src="~/images/templatemo_product_08.png" alt="product 8" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- end of latest_product_slider -->

    </div> <!-- end of templatemo_slider -->

}

@section script {
    <script>
        var cart = {
            init: function () {
                cart.regEvents();
            },

            regEvents: function () {
                $('#btnContinue').off('click').on('click', function () {
                    window.location.href = "/";
                });

                $('#btnUpdate').off('click').on('click', function () {
                    var listProduct = $('.updateItem');
                    var cartList = [];
                    $.each(listProduct, function (i, item) {
                        cartList.push({
                            Quantity: $(item).val(),
                            Product: {
                                MaSP: $(item).data('id')
                            }
                        });
                    });

                    $.ajax({
                        url: '/Cart/Update',
                        data: { cartModel: JSON.stringify(cartList) },
                        dataType: 'json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {
                                window.location.href = "/Cart/Index";
                            }
                        }
                    })
                });

                //$('.deleteItem').off('click').on('click', function () {
                //    $.ajax({
                //        url: '/Cart/DeleteItem',
                //        data: { MaSP: $(this).data('id') },
                //        dataType: 'json',
                //        type: 'POST',
                //        success: function (res) {
                //            if (res.status == true) {
                //                window.location.href = "/Cart/Index";
                //            }
                //        }
                //    })
                //});

                $('#btnDeleteAll').off('click').on('click', function () {
                    $.ajax({
                        url: '/Cart/DeleteAll',
                        dataType: 'json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {
                                window.location.href = "/Cart/Index";
                            }
                        }
                    })
                });

                $('#btnPayment').off('click').on('click', function () {
                    window.location.href = "@Url.Action("Payment", "Cart")";
                });
            }
        }
        cart.init();
    </script>
}

@{
    ViewBag.Title = "Index";
}

@model List<PhatTrienWeb_Project_NguyenThanhLoc.Models.Item>

<h2>Shopping Cart</h2>

<div class="content_section">
    @if (Model == null || Model.Count == 0)
    {
        <br />
        <h3>You do not have any products in your Shopping Cart.</h3>
    }
    else
    {
        <table id="table">
            <thead>
                <tr>
                    <td><b>ID Product</b></td>
                    <td><b>Image</b></td>
                    <td><b>Name Product</b></td>
                    <td><b>Quantity</b></td>
                    <td><b>Price</b></td>
                    <td><b>Total Price</b></td>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Product.MaSP</td>
                        <td><img style="width:120px; height:80px" src="@item.Product.Anh" /></td>
                        <td>@item.Product.TenSP</td>
                        <td><input type="number" class="updateItem" min="1" data-id="@item.Product.MaSP" value="@item.Quantity" style="width: 35px; text-align: center" /></td>
                        <td>@item.Product.Gia$</td>
                        <td>@((item.Product.Gia * item.Quantity))$</td>
                        <td style="border:none"><a href="@Url.Action("DeleteItem", "Cart", new { productID = item.Product.MaSP })" class="deleteItem" data-id="@item.Product.MaSP" style="color:red" onclick="return confirm('Are you sure to delete this item?')">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>

        <br />

        <div style="float:right">
            <button class="button" id="btnContinue">Continue To Buy</button>
            <button class="button" id="btnUpdate" onclick="return alert('Update successful!')">Update Cart</button>
            <button class="button" id="btnDeleteAll" onclick="return confirm('Are you sure to delete all item?')">Delete All</button>
        </div>

        <br />
        <br />

        <div style="float:right">
            <hr />
            <span style="font-size:medium"><b style="color:red">Total Cost: @Model.Sum(x => (x.Product.Gia * x.Quantity))$</b></span>
            <button class="button" id="btnPayment">Payment</button>
        </div>
    }
    <div class="cleaner"></div>
</div>

<style>
    a {
        cursor: pointer;
    }

    h3 {
        font-size: medium;
        text-align: center;
        color: red
    }

    .input {
        width: 100%
    }

    #table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        text-align: center
    }

        #table td, #table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

    .button {
        background-color: #128EB5;
        border: none;
        color: white;
        padding: 5px 15px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
    }
</style>