@{
    ViewBag.Title = "OrderStatus";
}

@model PhatTrienWeb_Project_NguyenThanhLoc.Models.Order

<div>
    <h3 style="text-align:center; color:red">YOUR ORDER HAS BEEN PROGRESSED!</h3>
</div>

<table id="table">
    <thead>
        <tr>
            <td><b>ID Order</b></td>
            <td><b>Date Created</b></td>
            <td><b>Name</b></td>
            <td><b>Phone</b></td>
            <td><b>Address</b></td>
            <td><b>Total</b></td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.ID</td>
            <td>@Model.NgayTao</td>
            <td>@Model.TenKH_Ship</td>
            <td>@Model.SoDT_Ship</td>
            <td>@Model.DiaChi_Ship</td>
            <td>@Model.TrangThai$</td>
        </tr>
    </tbody>
</table>

<div style="text-align:center">
    <br />
    <a href="@Url.Action("Index", "Home")">Home Page</a>
</div>

<style>
    a {
        cursor: pointer;
    }

    h3 {
        font-size: medium;
        text-align: center;
        color: red
    }

    .input {
        width: 100%
    }

    #table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        text-align: center
    }

        #table td, #table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

    .button {
        background-color: #128EB5;
        border: none;
        color: white;
        padding: 5px 15px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
    }
</style>