
<div class="content_section">

    <h2>Welcome to the Shoe Store</h2>

    <p>Free CSS Templates are provided by <a href="#">TemplateMo</a> for everyone. Feel free to download, edit and use this template for your websites. Credit goes to <a href="http://www.vectorvaco.com" target="_blank">Free Vectors</a> for vector graphics used in this layout.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et quam vitae ipsum vulputate varius vitae semper nunc. Quisque eget elit quis augue pharetra feugiat. <a href="#">Suspendisse</a> turpis arcu, dignissim ac laoreet a, <a href="#">condimentum</a> in massa.</p>

</div>

<div class="content_section">

    <h2>Product Categories</h2>

    @model List<PhatTrienWeb_Project_NguyenThanhLoc.Models.SanPham>


    @for (int i = 0; i < Model.Count; i = i + 1)
    {
        if (i % 2 == 0)
        {
            <div class="product_box margin_r40">

                <div class="image_wrapper"><a href="@Url.Action("Detail", "Product", new { MaSP = Model[i].MaSP })"><img style="width:240px; height:120px" src="@Model[i].Anh" alt="product" /></a></div>
                <h3>@Model[i].TenSP</h3>
                <p class="price">Price: @Model[i].Gia $</p>
                <a href="@Url.Action("Detail", "Product", new { MaSP = Model[i].MaSP })">Detail</a> | <a href="@Url.Action("AddItem", "Cart", new { productID = Model[i].MaSP, Quantity = 1 })">Buy Now</a>

            </div>
        }
        else
        {
            <div class="product_box">

                <div class="image_wrapper"><a href="@Url.Action("Detail", "Product", new { MaSP = Model[i].MaSP })"><img style="width:240px; height:120px" src="@Model[i].Anh" alt="product" /></a></div>
                <h3>@Model[i].TenSP</h3>
                <p class="price">Price: @Model[i].Gia $</p>
                <a href="@Url.Action("Detail", "Product", new { MaSP = Model[i].MaSP })">Detail</a> | <a href="@Url.Action("AddItem", "Cart", new { productID = Model[i].MaSP, Quantity = 1 })">Buy Now</a>

            </div>
        }

    }

    <div class="cleaner"></div>
</div>